<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.example.lesson03.dao.ReviewDAO">
 	<select id="selectReview" parameterType="int" resultType="com.example.lesson03.model.Review">
 		SELECT
 			`id`
			,`storeId`
			,`menu`
			,`userName`
			,`point`
			,`review`
			,`createdAt`
			,`updatedAt`
 		FROM
 			`new_review`
 		WHERE
 			`id` = #{id}
 	</select>
 	
 	<!-- 결과값을 주지 않으므로 resulttype은 select문에만 존재한다. -->
 	<insert id="insertReview" parameterType="com.example.lesson03.model.Review" >
 		INSERT INTO `new_review`
 		(
 			`storeId`
			,`menu`
			,`userName`
			,`point`
			,`review`
			,`createdAt`
			,`updatedAt`
 		)
 		VALUES
 		(
 			#{storeId}
 			, #{menu}
 			, #{userName}
 			, #{point}
 			, #{review}
 			, NOW()
 			, NOW()
 		)
 	</insert>
 	<!--  getter를 이용하여  #{storeId}가 실행된 -->
 	
 	<!-- DAO나 xml에는 오버로딩이 불가하다. -->
 	<insert id="insertReviewAsField" parameterType="map">
		INSERT INTO `new_review`
 		(
 			`storeId`
			,`menu`
			,`userName`
			,`point`
			,`review`
			,`createdAt`
			,`updatedAt`
 		)
 		VALUES
 		(
 			#{storeId}
 			, #{menu}
 			, #{userName}
 			, #{point}
 			, #{review}
 			, NOW()
 			, NOW()
 		)	
 	</insert>
 	<!-- DAO부분에서 @Param("storeId") 이쪽에있는 변수명이 넘어오게됨. -->
 	
 	<update id="updateReviewById" parameterType="map">
 	
 		UPDATE `new_review`
 		SET
 			`review` = #{review}
 			, `updatedAt` = NOW()
 		WHERE
 			`id` = #{id}
 			
 	</update>
 	
 	<delete id="deleteReviewById" parameterType="int">
 		DELETE
 		FROM
 			`new_review`
 		WHERE
 			`id` = #{id}
 	</delete>
 	
 </mapper>